.Personal-card {
  /* border: 2px solid blue; */
  width: 75%;
  margin-left: 200px;
  height: 91%;
}

.Personal-card .Form-title {
  /* border: 2px solid red; */
  height: 10%;
  padding-top: 9px;
}

.Personal-card .Form-title .span1 {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  padding: 15px;
  font-size: 14px;
}

.Personal-card .Form-title span {
  color: #000000;
  font-size: 1.2rem;
}

.Personal-card .Form-inputs {
  border: 2px solid blue;
  height: 85%;
  margin-top: 20px;
  padding-left: 10px;
}

.Personal-card .Form-inputs .text-title {
  color: #000000;
  /* margin-left: 18px; */
  margin-bottom: 5px;
}
