.Header {
  margin: 30px auto;
  width: 88%;
}

.Header .Header-card {
  border: 1px solid #e0e0e0;
  display: flex;
  padding: 7px;
  border-radius: 10px;
  align-items: center;
  margin-right: 45px;
}

.Header .Header-card ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 11px;
}

.Header .Header-card li {
  padding: 0 13px;
  font-size: 0.9rem;
}

.Header .Header-card .nab-text {
  color: #adadad;
}

.Header .Header-card .Back {
  color: #00a159;
}

.Header .Header-card .Back i {
  padding-right: 5px;
}
